<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    {% block head%}
      <title>Foodfy - Home</title>
    {% endblock %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>

    <div class="container">
      <header>
        <a class="logo" href="/">Foodfy</a>
        <a class="link" href="/sobre">Sobre</a>
        <a class="link" href="/receitas">Receitas</a>
      </header>

      {% block content %}{% endblock %}
    </div>
  <footer>
    <p>Todos os direitos reservados, receitas Foodfy</p>
  </footer>

</body>
</html>