@import "https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap";

:root {
  --color-zero: #111116;
  --color-background: #1a1a1a;
  --color-one: #ccc;
  --color-light: #fff;
  --color-primary: #7159c1;
  --color-secondary: #9a8ebf;
  --color-launchbase: #fd951f;
  --color-gostack: #04d361;
}
* {
  margin: 0;
  padding: 0;
  border: 0;
}
body {
  font-family: "Roboto", sans-serif;
}

header.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #111116;
  padding: 30px;
}

.menu a {
  text-decoration: none;
  color: #fff;
  margin: 0 30px;
  font-weight: 600;
}

.menu a:hover {
  color: var(--color-primary);
  transition: color 200ms;
}

section.about {
  text-align: center;
  margin: 2.8rem 0;
}

section.about .image {
  width: 200px;
  border: 6px solid var(--color-primary);
  border-radius: 50%;
}

section.about .title {
  color: var(--color-primary);
  font-size: 2.6rem;
  margin: 1rem 0;
}

section.about .text {
  width: 450px;
  line-height: 1.8rem;
  color: var(--color-secondary);
  margin: 0 auto;
}

section.technologies {
  background-color: var(--color-primary);
  width: 100%;
  padding: 4rem 0;
}

section.technologies .title {
  text-align: center;
  color: var(--color-light);
  font-size: 2.6rem;
  margin: 1rem auto;
  width: 350px;
  border-bottom: 4px solid var(--color-light);
  padding: 0 0 1rem 0;
}

section.technologies ul {
  margin: 2rem auto;
  text-align: center;
  list-style: none;
}

section.technologies ul li {
  font-size: 1.4rem;
  margin: 1rem 0;
  color: var(--color-light);
}

footer {
  padding: 2rem 0;
  text-align: center;
}

footer .links {
  text-decoration: none;
  margin: 0 1rem;
  font-weight: 700;
  color: var(--color-primary);
}

footer .links:hover {
  color: var(--color-secondary);
  transition: color 200ms;
}

/* Cards */

section.content {
  width: 1400px;
  margin: 0 auto;
  margin-top: 1rem;
}

section.content .cards {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}

section .card {
  cursor: pointer;
  box-sizing: border-box;
  max-width: 450px;
  text-align: center;
  padding: 2rem 2rem;
  border-radius: 8px;
  background-color: var(--color-zero);
}

section .card .number {
  width: 40px;
  height: 40px;
  margin: 0 auto;
  margin-bottom: 6rem;
  line-height: 40px;
  border-radius: 50%;
  border: 2px solid;
}

section .card:nth-child(1),
.card:nth-child(1) strong {
  color: var(--color-primary);
  transition: all 300ms;
}

section .card:nth-child(1):hover {
  box-shadow: 0 0 6px var(--color-primary);
}

section .card:nth-child(2),
.card:nth-child(2) strong {
  color: var(--color-launchbase);
}

section .card:nth-child(2):hover {
  box-shadow: 0 0 6px var(--color-launchbase);
}

section .card:nth-child(3),
.card:nth-child(3) strong {
  color: var(--color-gostack);
}

section .card:nth-child(3):hover {
  box-shadow: 0 0 6px var(--color-gostack);
}

section .card .title {
  font-size: 2.8rem;
  letter-spacing: 0.2rem;
  margin: 1rem 0;
}

section .card .description {
  color: var(--color-one);
  width: 60%;
  margin: 0 auto;
}

section .card .info {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.card .info p,
.card .info h3 {
  padding: 1rem 0;
}

.card .info p {
  border: 2px solid;
  border-radius: 50px;
}

/* Modal */

div.modalOverlay.-active {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.96);
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 1;
  visibility: visible;
}

div.modalOverlay {
  opacity: 0;
  visibility: hidden;
}

div.modalOverlay .modal {
  position: relative;
  background-color: #fff;
  width: 80%;
  height: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 300ms ease-out;
}

div.modalOverlay .modal.-max {
  width: 95%;
  height: 95%;
}

div.modal i {
  cursor: pointer;
  display: none;
  top: 2%;
}

div.modal i.close {
  display: block;
  position: absolute;
  right: 0;
}

div.modal i.-active {
  display: inline;
}

div.modal i.fullscreen {
  position: absolute;
  right: 0;
  transform: translate(-150%);
}

div.modal iframe {
  bottom: 0;
  position: absolute;
  width: 100%;
  height: 90%;
}

.error {
  text-align: center;
  margin-top: 60px;
}

div.error > .image {
  width: 200px;
}

div.error > .title {
  font-size: 5.8rem;
  color: var(--color-primary);
}

div.error > .description {
  font-size: 1.4rem;
  color: var(--color-secondary);
}