@import 'https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Source+Serif+Pro&display=swap';
@import 'colors.css';

* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

/* HEADER */

div.container {
  width: 940px;
  margin: 0 auto;
}

header {
  color: var(--color-zero);
  margin: 36px 0 30px 0;
}

header .logo {
  font-family: 'Source Serif Pro', serif;
  font-size: 1.75rem;
  letter-spacing: 1.65px;
  margin-right: 120px;
  color: var(--color-zero);
  text-decoration: none;
}

header .link {
  font-size: 1rem;
  color: var(--color-zero);
  text-decoration: none;
  margin-right: 30px;
  transition: all 600ms;
  font-weight: 400;
}

header .link:hover,
header .link.-active {
  font-weight: 700;
  color: var(--color-zero);
}

/* BANNER */

section.banner {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: var(--color-primary);
  height: 366px;
  border-radius: 30px;
  margin-bottom: 50px;
}

section.banner .content {
  margin: 117px 0 0 60px;
}

.content .title {
  margin-bottom: 10px;
  font-size: 32px;
}

.content .description {
  width: 316px;
  line-height: 28px;
  font-size: 1.12rem;
}

section.banner img {
  position: absolute;
  bottom: 0;
  right: 100px;
}

/* CONTENT ABOUT */

main.main-about .title {
  font-size: 1.5rem
}

main.main-about .subtitle {
  color: var(--color-zero);
  font-size: 1.25rem;
}

main.main-about .text {
  margin: 20px 0 30px 0;
}

/* CARDS */

main.main-content {
  margin: 50px 0;
}

main.main-content > .title {
  color: var(--color-zero);
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 20px;
}

main.main-content .cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.cards .card {
  cursor: pointer;
  width: 300px;
}

.cards .card img {
  width: 100%;
  border-radius: 15px;
}

.cards .card > .title {
  font-size: 1.12rem;
  font-weight: 400;
  color: var(--color-zero);
  margin-top: 20px;
}

.cards .card .author {
  font-size: .87rem;
  margin-top: 5px;
  color: var(--color-zero-two);
}


/* Footer */

footer {
  color: var(--color-one);
  text-align: center;
  background-color: var(--color-zero-three);
  padding: 23px 0;
}

footer p {
  font-size: .87rem;
}

/* Modal */

div.modalOverlay {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-dark);
}

div.modalOverlay.-active {
  visibility: visible;
  opacity: 1;
}

div.modalOverlay .modal {
  text-align: center;
  box-sizing: border-box;
  width: 660px;
  border-radius: 16px;
  padding: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--color-light);
}

div.modalOverlay .modal > .image {
  height: 200px;
  background-image: url(../img/asinhas.png);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 15px;
}

.modal .title {
  margin: 20px 0 5px 0;
  font-weight: 400;
  font-size: 1.5rem;
  color: var(--color-zero);
}

.modal .author {
  color: var(--color-zero-two);
  font-weight: 400;
  font-size: 1.12rem;
  margin-bottom: 60px;
}

.modal .close {
  cursor: pointer;
  font-size: 1rem;
  color: var(--color-one);
}