{% extends 'layout.njk' %}

{% block content %}
  <section class="about">
    <img class="image" src="https://rocketseat.gallerycdn.vsassets.io/extensions/rocketseat/rocketseatreactnative/3.0.1/1588456740326/Microsoft.VisualStudio.Services.Icons.Default" alt="Logo Rocketseat">
    <h1 class="title">Rocketseat</h1>
    <p class="text">Uma empresa especializada em potenciar o seu aprendizado. As melhores tecnologias em programação, direto ao ponto e do jeito certo.</p>
  </section>

  <section class="technologies">
    <h2 class="title">Technologies</h2>
    <ul>
      <li>Javascript ES6+</li>
      <li>NodeJS</li>
      <li>ReactJS</li>
      <li>React Native</li>
    </ul>
  </section>

  <footer>
    <a class="links" href="https://github.com/rocketseat" target="_blank">Github</a>
    <a class="links" href="https://www.instagram.com/rocketseat_oficial/" target="_blank">Instagram</a>
    <a class="links" href="https://www.facebook.com/rocketseat" target="_blank">Facebook</a>
  </footer>
{% endblock %}