:root {
  --color-dark: rgba(0, 0, 0, .6);
  --color-zero: #111111;
  --color-one:#999999;
  --color-zero-two: #777777;
  --color-ingredients: #444;
  --color-zero-three: #EEEEEE;
  --color-primary: #FBDFDB;
  --color-light: #fff;
}