{% extends 'layout.njk' %}

{% block head %}
  <title>Teachers</title>
{% endblock %}

{% block content %}

<form class="card" method="POST" action="/teachers">
    <section
      class="avatar"
      style="background: url('https://source.unsplash.com/collection/489203/500') no-repeat center center / cover"></section>
    <section class="details">
      <h3>Cadastro Professor</h3>

      <div class="item">
        <div>Avatar URL</div>
        <div>
          <input
            type="url"
            name="avatar_url"
            placeholder="https://"
          >
        </div>
      </div>

      <div class="item">
        <div>Professor</div>
        <div>
          <input
            type="text"
            name="name"
            placeholder="Nome do professor"
          >
        </div>
      </div>

      <div class="item">
        <div>Data nascimento</div>
        <div>
          <input
            type="date"
            name="birth"
          >
        </div>
      </div>

      <div class="item">
        <div>Grau de escolaridade</div>
        <div>
          <select name="educational_level">
            <option value="">--- ---</option>
            <option value="eComplete">Ensino Médio Completo</option>
            <option value="eSup">Ensino Superior Completo</option>
            <option value="eDr">Mestrado e Doutorado</option>
          </select>
        </div>
      </div>

      <div class="item">
        <div>Tipo de Aula</div>
        <div>
          <span>
            <input type="radio" name="education" value="p" checked> Presencial
          </span>

          <span>
            <input type="radio" name="education" value="e"> À distância
          </span>
        </div>
      </div>

      <div class="item">
        <div>Área de atuação</div>
        <div>
          <input
            type="text"
            name="ocupation"
            placeholder="Separe a área de atuação por vírgula"
          >
        </div>
      </div>

      <button type="submit">Salvar</button>
    </section>
  </form>
{% endblock %}