{% extends 'layout.njk' %}

{% block head %}
  <title>Teachers</title>
{% endblock %}

{% block content %}
  <div class="card">
    <section
      class="avatar"
      style="background: url('https://source.unsplash.com/collection/489203/500') no-repeat center center / cover"></section>
    <section class="details">
      <h3>Informações</h3>

      <div class="item">
        <div>Professor</div>
        <div>Lucas Vieira</div>
      </div>

      <div class="item">
        <div>Idade</div>
        <div>19 anos</div>
      </div>

      <div class="item">
        <div>Grau de escolaridade</div>
        <div>Doutorado</div>
      </div>

      <div class="item">
        <div>Tipo de Aula</div>
        <div>Presencial</div>
      </div>

      <div class="item">
        <div>Acompanhamento</div>
        <div>
          <span>Matemática</span>
          <span>Física</span>
        </div>
      </div>

      <div class="item">
        <div>Data de Cadastro</div>
        <div>07/11/2012</div>
      </div>
    </section>
  </div>
{% endblock %}